<div class="modal is-open" id="{{ id }}" aria-hidden="false">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="{{ id }}-title">
            <div class="modal__header">
                <button class="modal__close" aria-label="Close modal" data-micromodal-close>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#FFF" fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
                </button>
                <h2 class="modal__title" id="{{ id }}-title">{{ title }}</h2>
            </div>
            <div class="modal__content" id="{{ id }}-content">
                {{ content|raw }}
            </div>
            <div class="modal__footer">
                {{ footer|raw }}
                <button data-micromodal-close aria-label="Close this dialog window">Close</button>
            </div>
        </div>
    </div>
</div>