
<div class="msac_profiles-dashboard__share">
    <div class="msac_profiles-dashboard__share-profile">
        <span class="msac_profiles-dashboard__share-label h6">Your Profile Link:</span>
        <a href="{{ profile.url }}" class="msac_profiles-dashboard__profile-url">{{ profile.url }}</a>
        <div class="msac_profiles-dashboard__copy-profile-btn">
            <button class="button button--reverse">
                <span>Copy Link</span>
                <span class="tooltip">Copied to clipboard</span>
            </button>
        </div>
    </div>
    <div class="msac_profiles-dashboard__share-social">
        <span class="msac_profiles-dashboard__share-label h6">Share Profile:</span>
        <ul class="msac_profiles-dashboard__share-social-list">
            <li class="msac_profiles-dashboard__share-social-list-item">
                <a class="msac_profiles-dashboard__share-social-link icon-circle" target="_blank" href="https://www.facebook.com/sharer.php?u={{ profile.url }}" class="icon-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 18 18"><defs><path d="M17.007 0H.993A.993.993 0 000 .993v16.014c0 .548.445.993.993.993h8.621v-6.97H7.27V8.312h2.345V6.309c0-2.324 1.42-3.59 3.494-3.59.994 0 1.848.074 2.096.107v2.43h-1.438c-1.128 0-1.346.536-1.346 1.322v1.735h2.69l-.35 2.716h-2.34V18h4.587a.993.993 0 00.993-.993V.993A.993.993 0 0017.007 0" id="facebook-a"/></defs><use xlink:href="#facebook-a" fill-rule="evenodd"/></svg>
                    <span class="visible-for-screen-readers">Share profile via Facebook</span>
                </a>
            </li>
            <li class="msac_profiles-dashboard__share-social-list-item">
                <a class="msac_profiles-dashboard__share-social-link icon-circle" target="_blank" href="https://twitter.com/intent/tweet?url={{ profile.url }}" class="icon-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="16" viewBox="0 0 24 20"><defs><path d="M33 20.385c-.897.384-1.794.692-2.841.769 1.047-.616 1.794-1.616 2.168-2.77-.972.616-2.019 1-3.14 1.231-.897-1-2.168-1.615-3.514-1.615-2.692 0-4.935 2.23-4.935 5.077 0 .385.075.77.15 1.154C16.776 24 13.187 22 10.72 18.923a4.948 4.948 0 00-.673 2.539c0 1.769.897 3.307 2.168 4.23a4.47 4.47 0 01-2.243-.615v.077c0 2.461 1.72 4.461 3.963 4.923-.449.077-.823.154-1.271.154-.3 0-.599 0-.898-.077.598 2 2.468 3.461 4.561 3.538-1.645 1.385-3.813 2.154-6.13 2.154-.375 0-.823 0-1.197-.077C11.243 37.154 13.86 38 16.626 38c9.047 0 13.981-7.692 13.981-14.385V23c.898-.77 1.72-1.615 2.393-2.615z" id="twitter-a"/></defs><use fill-rule="nonzero" xlink:href="#twitter-a" transform="translate(-9 -18)"/></svg>
                    <span class="visible-for-screen-readers">Share profile via Twitter</span>
                </a>
            </li>
            <li class="msac_profiles-dashboard__share-social-list-item">
                <a class="msac_profiles-dashboard__share-social-link icon-circle" target="_blank" href="https://www.addthis.com/tellfriend_v2.php?v=300&winname=addthis&pub=ra-5b5fcd994a9bdcc1&source=tbx-300&lng=en&s=email&wid=271h&url={{ profile.url }}&title={{ profile.name }}'s MSAC Directory Profile&ate=AT-ra-5b5fcd994a9bdcc1/-/-/5e8b6c29f15c3d69/2&uid=5bdb56941d4d4c32&uud=1&ct=1&ui_email_to=&ui_email_from=&ui_email_note=&tt=0&captcha_provider=recaptcha2&pro=0&rb=false" class="icon-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12"><path d="M14 3.55c-.234.258-.5.485-.781.68a149.632 149.632 0 00-3.89 2.699c-.657.485-1.47 1.079-2.321 1.079h-.016c-.851 0-1.664-.594-2.32-1.08-1.274-.93-2.586-1.814-3.883-2.697A4.37 4.37 0 010 3.55V9.76c0 .688.563 1.251 1.25 1.251h11.5c.688 0 1.25-.563 1.25-1.251V3.55zm0-2.299A1.26 1.26 0 0012.75 0H1.25C.414 0 0 .657 0 1.423c0 .712.79 1.596 1.344 1.971 1.21.845 2.437 1.69 3.648 2.542.508.352 1.367 1.071 2 1.071h.016c.633 0 1.492-.72 2-1.071 1.21-.853 2.437-1.697 3.656-2.542C13.352 2.917 14 2.127 14 1.251z" fill="#FFF" fill-rule="evenodd"/></svg>
                    <span class="visible-for-screen-readers">Share profile via email</span>
                </a>
            </li>
        </ul>
    </div>
</div>
