{% set thumbnail = assets_path ~ '/img/MSAC_default_profile_image_square.jpg' %}
{% set thumbnail_alt = 'Portrait of ' ~ node.title.value %}
{% if content.field_grant_image|field_value %}
  {% set thumbnail = file_url(content.field_grant_image|field_target_entity.uri.value | image_style('optimized')) %}
  {% set thumbnail_alt = content.field_grant_image['#items'].alt %}
{% endif %}
<div class="card card--hz" data-clickable="true" role="link" href="{{ url }}" tabindex="0">
	<div class="card__media">
		<img src="{{ thumbnail }}" alt="{{ thumbnail_alt }}" aria-hidden="true" />
	</div>
	<div class="card__content">
		<div class="card__content-icon-lines" role="presentation">
			<div></div>
			<div></div>
		</div>
		<h2 class="card__title">{{ label }}</h2>
		<a href="{{ url }}" class="card__cta button">Learn More</a>
	</div>
</div>
