{% extends "node--full.html.twig" %}

{% block node_hero %}
	{% if content.field_article_cover_image|field_value %}
		<div class="hero">
      <figure class="hero__media">
        <div class="hero__media-image">
          {{ content.field_article_cover_image }}
        </div>
        {% if content.field_article_cover_caption|field_value %}
          <figcaption class="hero__media-caption">{{ content.field_article_cover_caption }}</figcaption>
        {% endif %}
      </figure>
    </div>
	{% endif %}
{% endblock %}

{% block node_content %}
	<div class="page-content outer-pad">
		{{ drupal_messages() }}
		<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
			<div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--8-1200">
				<div class="text-content">
					{% if content.field_article_lead_in|field_value %}
						<h2>{{ content.field_article_lead_in|field_value }}</h2>
					{% endif %}
					{% if content.field_article_date|field_value %}
						{{ content.field_article_date|field_value }}
					{% endif %}
					{{ content.body }}
				</div>
			</div>
			<div class="silc-grid__col silc-grid__col--12">
				<div class="page-widgets">
					{{ content.field_widgets }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
