{% extends "node--full.html.twig" %}

{% block node_hero %}
  <div class="hero{% if not content.field_artist_cover|field_value %} hero--default{% endif %}">
    <figure class="hero__media">
      <div class="hero__media-image">
        {% if content.field_artist_cover|field_value %}
          {{ content.field_artist_cover }}
        {% else %}
          <img src="{{ assets_path ~ '/img/MSAC_default_profile_image.jpg' }}" alt="">
        {% endif %}
      </div>
      {% if content.field_artist_cover_caption|field_value %}
        <figcaption class="hero__media-caption">{{ content.field_artist_cover_caption }}</figcaption>
      {% endif %}
    </figure>
  </div>
{% endblock %}

{% block node_heading %}
	<div class="page-heading outer-pad">
		{% set thumbnail = assets_path ~ '/img/MSAC_default_profile_image_square.jpg' %}
		{% set thumbnail_alt = 'Portrait of ' ~ node.title.value %}
		{% if content.field_artist_photo|field_value %}
			{% set thumbnail = file_url(content.field_artist_photo|field_target_entity.uri.value | image_style('optimized')) %}
			{% set thumbnail_alt = content.field_artist_photo['#items'].alt %}
		{% endif %}
		<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
			<div class="silc-position--relative silc-grid__col silc-grid__col--3-1024 silc-grid__col--2-1200">
				<div class="profile-photo__container">
					<div class="profile__photo">
						<img src="{{ thumbnail }}" alt="{{ thumbnail_alt }}">
					</div>
					<a href="{{ drupal_url('directory', {absolute: true}) }}"><span role="presentation">&lt;&nbsp;</span>Back to Directory</a>
				</div>
			</div>
			<div class="silc-grid__col {% if content.field_artist_awards|field_value %}silc-grid__col--9-1024 silc-grid__col--6-1200{% else %}silc-grid__col--9-1024 silc-grid__col--10-1200{% endif %}">
				<h1>{{ label }}</h1>
				{% if content.field_artist_artistic_categories[0] %}
					{% set disciplines = content.field_artist_artistic_categories|field_value %}
					<div class="profile__disciplines">{{ disciplines|sort|safe_join(", ") }}</div>
				{% endif %}
			</div>
			{% if content.field_artist_awards|field_value %}
				<div class="silc-grid__col silc-grid__col--5-1024 silc-grid__col--4-1200">
					<div class="artist-awards">
						<h2 class="artist-awards__heading">Awards Received</h2>
						<div class="artist-awards__content">
							{{ content.field_artist_awards|field_value }}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block node_content %}
	<div class="page-content outer-pad">
		{{ drupal_messages() }}
		{% if content.field_artist_quote|field_value %}
			<div class="widget-spacing">
				<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
					<div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--8-1200">
						<blockquote class="blockquote blockquote--full-width">
							<div class="blockquote__quote">
								<p>{{ content.field_artist_quote|field_value }}</p>
							</div>
						</blockquote>
					</div>
				</div>
			</div>
		{% endif %}
		<div class="widget-spacing">
			<div class="silc-grid silc-grid--collapse silc-grid--justify-center silc-grid--justify-right-1024">
				<div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--6-1024 silc-grid__col--6-1200">
					<div class="editor-widget text-content">
						{% if content.body %}
							<div class="collapsible-text text-content">
								<h2>About the Artist</h2>
								{{ content.body }}
							</div>
						{% endif %}
						{% if content.field_artist_websites|field_value %}
							<p>
								{% for key, item in content.field_artist_websites %}
								{% if key|first != '#' %}
									<a href="{{ content.field_artist_websites[key]['#url'] }}" class="button" target="_blank">
										<span class="visible-for-screen-readers">{{ node.title.value }} website </span>{{ content.field_artist_websites[key]['#title'] }}
									</a>
								{% endif %}
								{% endfor %}
							</p>
						{% endif %}
					</div>
					{% if content.field_artist_statement|field_value %}
						<div class="editor-widget text-content">
							<div class="collapsible-text text-content">
								<h2>Artist's Statement</h2>
								{{ content.field_artist_statement|field_value }}
							</div>
						</div>
					{% endif %}
				</div>
				<div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--5-1024 silc-grid__col--4-1200">
					<aside class="aside">
						<div class="aside__content">
							{% if content.field_artist_resume|field_value %}
								<div class="aside__section">
									<h3 class="aside__section-heading">Resume</h3>
									<div>
										<p>
											<a href="{{ file_url (node.field_artist_resume.entity.uri.value) }}" target="_blank">Artist's Resume</a>
										</p>
									</div>
								</div>
							{% endif %}
							{% set contact_information %}
								{% if content.field_artist_phone|field_value %}
									<li>
										{{ content.field_artist_phone|field_value }}
									</li>
								{% endif %}
								{% if node.field_artist_show_email.value %}
									{% if content.field_artist_email|field_value %}
										<li>
											<a href="mailto:{{ content.field_artist_email|field_value }}">{{ content.field_artist_email|field_value }}</a>
										</li>
									{% endif %}
								{% endif %}
							{% endset %}
							{% if contact_information is not empty %}
								<div class="aside__section">
									<h3 class="aside__section-heading">Contact Information</h3>
									<div>
										<ul>
											{{ contact_information }}
										</ul>
									</div>
								</div>
							{% endif %}

							{% set contact_location %}
								{% if content.field_county|field_value %}
									<h3 class="aside__section-heading">County</h3>
								{% endif %}
								<div>
									{% if content.field_county|field_value %}
										<span>{{ content.field_county|field_value }}</span>
									{% endif %}
									{# {% if content.field_artist_address|field_value %}
										<div class="address-wrapper">
											<div class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="17" height="22" viewbox="0 0 17 22">
													<g fill="none" fill-rule="evenodd"><path d="M8.5 22C14.167 15.974 17 11.424 17 8.35 17 3.737 13.194 0 8.5 0S0 3.738 0 8.35C0 11.423 2.833 15.973 8.5 22z" fill="#FFF"/><circle fill="#000" cx="8.5" cy="8.5" r="3.5"/></g>
												</svg>
											</div>
											<div>
												{{ content.field_artist_address|field_value }}
											</div>
										</div>
									{% endif %} #}
								</div>
							{% endset %}
							{% if contact_location is not empty %}
								<div class="aside__section">
									{{ contact_location }}
								</div>
							{% endif %}
							<div class="aside__section">
								{% if content.field_artist_districts|field_value %}
									<h3 class="aside__section-heading">A&amp;E Districts</h3>
									<div>
										<ul>
											{% for key, item in content.field_artist_districts %}
											{% if key|first != '#' %}
												<li>{{ item }}</li>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}

								{% if content.field_artist_grants|field_value %}
									<div class="aside__section">
										<h3 class="aside__section-heading">Funding Available</h3>
										<div>
											<p>
												{% for item in content.field_artist_grants|field_value %}
													{{ item }}<br />
												{% endfor %}
											</p>
										</div>
									</div>
								{% endif %}
								{% set social_links %}
									{% if content.field_artist_social_facebook|field_value %}
										<li>
											<a href="{{ content.field_artist_social_facebook.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 18 18">
													<defs><path d="M17.007 0H.993A.993.993 0 000 .993v16.014c0 .548.445.993.993.993h8.621v-6.97H7.27V8.312h2.345V6.309c0-2.324 1.42-3.59 3.494-3.59.994 0 1.848.074 2.096.107v2.43h-1.438c-1.128 0-1.346.536-1.346 1.322v1.735h2.69l-.35 2.716h-2.34V18h4.587a.993.993 0 00.993-.993V.993A.993.993 0 0017.007 0" id="facebook-a"/></defs><use xlink:href="#facebook-a" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on Facebook</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_twitter|field_value %}
										<li>
											<a href="{{ content.field_artist_social_twitter.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="16" viewbox="0 0 24 20">
													<defs><path d="M33 20.385c-.897.384-1.794.692-2.841.769 1.047-.616 1.794-1.616 2.168-2.77-.972.616-2.019 1-3.14 1.231-.897-1-2.168-1.615-3.514-1.615-2.692 0-4.935 2.23-4.935 5.077 0 .385.075.77.15 1.154C16.776 24 13.187 22 10.72 18.923a4.948 4.948 0 00-.673 2.539c0 1.769.897 3.307 2.168 4.23a4.47 4.47 0 01-2.243-.615v.077c0 2.461 1.72 4.461 3.963 4.923-.449.077-.823.154-1.271.154-.3 0-.599 0-.898-.077.598 2 2.468 3.461 4.561 3.538-1.645 1.385-3.813 2.154-6.13 2.154-.375 0-.823 0-1.197-.077C11.243 37.154 13.86 38 16.626 38c9.047 0 13.981-7.692 13.981-14.385V23c.898-.77 1.72-1.615 2.393-2.615z" id="twitter-a"/></defs><use fill-rule="nonzero" xlink:href="#twitter-a" transform="translate(-9 -18)"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on Twitter</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_instagram|field_value %}
										<li>
											<a href="{{ content.field_artist_social_instagram.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on Instagram</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_linkedin|field_value %}
										<li>
											<a href="{{ content.field_artist_social_linkedin.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 23"><path d="M3.623 0a2.77 2.77 0 10-.004 5.54A2.77 2.77 0 003.623 0zM1.23 23h4.78V7.637H1.23V23zm22.663-8.426V23H19.12v-7.472c0-1.782-.032-4.073-2.483-4.073-2.482 0-2.861 1.943-2.861 3.946V23h-4.77V7.637h4.575v2.1h.066c.639-1.208 2.195-2.481 4.518-2.481 4.836 0 5.728 3.18 5.728 7.318z" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on LinkedIn</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_youtube|field_value %}
										<li>
											<a href="{{ content.field_artist_social_youtube.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewbox="0 0 25 17"><path d="M24.774 3.686s-.226-1.655-.978-2.407C22.893.3 21.839.3 21.387.226 18.002 0 12.958 0 12.958 0S7.916 0 4.53.226C4.078.3 3.024.3 2.121 1.279c-.753.752-.979 2.407-.979 2.407S.917 5.642.917 7.597v1.806c0 1.955.225 3.911.225 3.911s.226 1.655.979 2.407c.903.978 2.107.903 2.634 1.053 1.957.15 8.203.226 8.203.226s5.043 0 8.43-.226c.451-.075 1.505-.075 2.408-1.053.752-.752.978-2.407.978-2.407S25 11.358 25 9.403V7.597c0-1.955-.226-3.911-.226-3.911zm-14.3 7.973V4.89l6.473 3.385-6.472 3.385z" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on YouTube</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_vimeo|field_value %}
										<li>
											<a href="{{ content.field_artist_social_vimeo.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 24 22"><path d="M23.987 5.377c-.074 2.326-1.724 5.553-4.872 9.605-3.298 4.277-5.997 6.378-8.246 6.378-1.424 0-2.548-1.275-3.523-3.902-.674-2.401-1.274-4.727-1.949-7.129-.75-2.551-1.499-3.902-2.324-3.902-.15 0-.824.375-1.874 1.126L0 6.127c1.2-1.05 2.324-2.101 3.523-3.152C5.097 1.625 6.297.875 7.046.8c1.874-.15 2.999 1.126 3.449 3.827.45 2.927.824 4.803.974 5.478.525 2.477 1.124 3.677 1.8 3.677.524 0 1.273-.825 2.248-2.401.974-1.576 1.574-2.777 1.65-3.602.149-1.35-.376-2.026-1.65-2.026-.6 0-1.2.15-1.8.375C14.918 2.225 17.168.35 20.465.5c2.474.15 3.673 1.726 3.523 4.878z" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on Vimeo</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_dribbble|field_value %}
										<li>
											<a href="{{ content.field_artist_social_dribbble.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12a11.962 11.962 0 01-8.435-3.465l-.063-.037.01-.016A11.962 11.962 0 010 12C0 5.373 5.373 0 12 0zm1.878 14.321l-.21.058c-.665.19-1.315.439-1.95.75-2.08 1.015-3.959 2.674-5.608 5.091A10.05 10.05 0 0012 22.114c1.343 0 2.625-.261 3.797-.737-.498-2.53-1.126-4.855-1.919-7.056zm3.567-.44l-.469.005c-.353.009-.702.03-1.047.064.711 2.021 1.29 4.14 1.762 6.412a10.123 10.123 0 004.132-5.941 27.53 27.53 0 00-.223-.048l-.29-.059c-1.571-.312-2.923-.464-4.334-.428zm-5.207-3.457l-.225.073c-.33.104-.668.201-1.015.293-2.594.686-5.606 1.03-9.109.986L1.886 12c0 2.642 1.013 5.048 2.672 6.85 1.814-2.595 3.913-4.425 6.257-5.57a13.991 13.991 0 012.312-.887 39.409 39.409 0 00-.89-1.97zm7.704-4.688l-.464.434-.032.029a19.77 19.77 0 01-2.305 1.853 18.203 18.203 0 01-2.971 1.642 41.76 41.76 0 011.007 2.273 16.106 16.106 0 011.747-.137c1.62-.042 3.145.135 4.9.49l.018.003c.088.017.208.043.342.071l-.077-.016a10.071 10.071 0 00-2.166-6.642zM7.564 2.908l-.212.107A10.133 10.133 0 002.144 9.72c3.223.025 5.976-.297 8.327-.92.276-.073.546-.15.809-.23-1.055-1.913-2.283-3.779-3.716-5.663zM12 1.886c-.832 0-1.64.1-2.414.29a47.168 47.168 0 013.646 5.68 16.084 16.084 0 002.749-1.503c.707-.483 1.319-.98 1.994-1.597l.14-.129.394-.369A10.074 10.074 0 0012 1.886z" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on Dribbble</span>
											</a>
										</li>
									{% endif %}
									{% if content.field_artist_social_behance|field_value %}
										<li>
											<a href="{{ content.field_artist_social_behance.0['#url'] }}" target="_blank" class="icon-circle">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 24 16"><path d="M18.778 3.938c.908 0 1.702.186 2.384.568a4.913 4.913 0 011.674 1.515c.437.633.747 1.36.94 2.174.193.813.259 1.661.207 2.55h-7.744c0 .898.282 1.757.729 2.213.442.462 1.077.693 1.904.693.593 0 1.11-.16 1.538-.482.427-.321.686-.662.785-1.014h2.595c-.418 1.38-1.048 2.36-1.913 2.952-.851.592-1.895.893-3.104.893-.846 0-1.603-.146-2.285-.432a4.85 4.85 0 01-1.73-1.23 5.71 5.71 0 01-1.09-1.907 7.477 7.477 0 01-.386-2.44c0-.857.131-1.656.395-2.393.268-.743.634-1.38 1.123-1.918a5.34 5.34 0 011.74-1.275c.672-.31 1.415-.467 2.238-.467zM6.952 0c.707 0 1.343.065 1.924.2.58.13 1.072.35 1.489.65.412.3.73.7.964 1.2.225.496.337 1.116.337 1.851 0 .795-.168 1.455-.506 1.985-.341.53-.838.96-1.502 1.3.908.28 1.577.77 2.027 1.466.45.7.665 1.54.665 2.53 0 .8-.146 1.486-.431 2.066a3.978 3.978 0 01-1.166 1.426c-.487.37-1.048.64-1.676.815a7.086 7.086 0 01-1.929.265H0V0h6.952zm-.187 8.727h-3.52v4.336h3.463v.005c.319 0 .623-.03.909-.1.29-.07.547-.175.763-.335.215-.155.398-.36.529-.63.13-.265.192-.605.192-1.02 0-.81-.216-1.39-.642-1.74-.426-.346-.992-.516-1.694-.516zm11.919-2.42c-.47 0-.86.086-1.17.257-.306.17-.556.381-.748.632a2.33 2.33 0 00-.395.808 3.873 3.873 0 00-.137.753h4.796c-.07-.803-.329-1.395-.682-1.812-.347-.412-.945-.637-1.664-.637zM6.278 2.682H3.244v3.68h3.287c.575 0 1.053-.144 1.427-.44.375-.29.553-.77.553-1.43 0-.365-.061-.67-.183-.905a1.412 1.412 0 00-.5-.55 1.894 1.894 0 00-.717-.275 4.14 4.14 0 00-.833-.08zM21.67 1.23v1.477h-6.058V1.23h6.058z" fill-rule="evenodd"/></svg>
												<span class="visible-for-screen-readers">Visit {{ node.title.value }} on Behance</span>
											</a>
										</li>
									{% endif %}
								{% endset %}

								{% if social_links is not empty %}
									<div class="aside__section">
										<ul class="social-media">
											{{ social_links }}
										</ul>
									</div>
								{% endif %}
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<div class="widget-spacing">
			<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
				<div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--8-1200">
					{% set featured_work %}
						{% if drupal_view_result('featured_work_images', 'embed_1') %}
							<h3 id="featured-work--image">Photos</h3>
							{{ drupal_view('featured_work_images', 'embed_1') }}
						{% endif %}
							{% if drupal_view_result('featured_work_videos', 'embed_1') %}
							<h3 id="featured-work--video">Videos</h3>
							{{ drupal_view('featured_work_videos', 'embed_1') }}
						{% endif %}
							{% if drupal_view_result('featured_work_audio', 'embed_1') %}
							<h3 id="featured-work--audio">Music/Audio</h3>
							{{ drupal_view('featured_work_audio', 'embed_1') }}
						{% endif %}
						{% if drupal_view_result('featured_work_documents', 'embed_1') %}
							<h3 id="featured-work--document">Written Works</h3>
							{{ drupal_view('featured_work_documents', 'embed_1') }}
						{% endif %}
					{% endset %}

					{% if featured_work|trim is not empty %}
						<h2>Featured Work</h2>
						{{ featured_work }}
					{% endif %}

					{% set booking_details %}
						{% if content.field_artist_bk_contact_info|field_value %}
							<div class="silc-accordion__section">
								<button id="booking-info-accordion-section-1-label" class="silc-accordion__label" aria-controls="booking-info-accordion-section-1-content">
									Booking Details and Contact Info
									<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
										<g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g>
									</svg>
								</button>
								<div class="silc-accordion__content" id="booking-info-accordion-section-1-content" aria-labelledby="booking-info-accordion-section-1-label">
									<div class="silc-accordion__content-compartment text-content">
										{{ content.field_artist_bk_contact_info|field_value }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if content.field_artist_bk_materials_tech|field_value %}
							<div class="silc-accordion__section">
								<button id="booking-info-accordion-section-2-label" class="silc-accordion__label" aria-controls="booking-info-accordion-section-2-content">
									Materials &amp; Technology Needed
									<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
										<g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g>
									</svg>
								</button>
								<div class="silc-accordion__content" id="booking-info-accordion-section-2-content" aria-labelledby="booking-info-accordion-section-2-label">
									<div class="silc-accordion__content-compartment text-content">
										{{ content.field_artist_bk_materials_tech|field_value }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if content.field_artist_bk_travel_req_rest|field_value %}
							<div class="silc-accordion__section">
								<button id="booking-info-accordion-section-3-label" class="silc-accordion__label" aria-controls="booking-info-accordion-section-3-content">
									Travel Requirements &amp; Restrictions
									<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
										<g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g>
									</svg>
								</button>
								<div class="silc-accordion__content" id="booking-info-accordion-section-3-content" aria-labelledby="booking-info-accordion-section-3-label">
									<div class="silc-accordion__content-compartment text-content">
										{{ content.field_artist_bk_travel_req_rest|field_value }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if content.field_artist_bk_references|field_value %}
							<div class="silc-accordion__section">
								<button id="booking-info-accordion-section-4-label" class="silc-accordion__label" aria-controls="booking-info-accordion-section-4-content">
									References
									<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
										<g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g>
									</svg>
								</button>
								<div class="silc-accordion__content" id="booking-info-accordion-section-4-content" aria-labelledby="booking-info-accordion-section-4-label">
									<div class="silc-accordion__content-compartment text-content">
										{{ content.field_artist_bk_references|field_value }}
									</div>
								</div>
							</div>
						{% endif %}
					{% endset %}

					{% if booking_details|trim is not empty or content.field_artist_bk_price|field_value %}
						<div class="widget-spacing">
							<h2>Booking</h2>
							{% if content.field_artist_bk_price|field_value %}
								<p>Booking Price: {{ content.field_artist_bk_price|field_value }}</p>
							{% endif %}
							{% if booking_details|trim is not empty %}
								<div>
									<div class="silc-accordion" id="booking-info-accordion" data-silc-accordion-animated>
										{{ booking_details }}
									</div>
								</div>
							{% endif %}
						</div>
					{% endif %}

					{% if node.field_artist_arts_in_edu_roster.value %}
						{% set education_for %}
							{% if content.field_artist_population_types|field_value %}
								<p><strong>Audiences Types:</strong>&nbsp;{{ content.field_artist_population_types|field_value|safe_join(', ') }}</p>
							{% endif %}
						{% endset %}

						{% set education_info %}
							{% if node.field_artist_engmt_type_1.value and content.field_artist_engmt_type_1_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Lectures Offered', 'index': 1, 'content': content.field_artist_engmt_type_1_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_2.value and content.field_artist_engmt_type_2_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Online Programs Offered', 'index': 2, 'content': content.field_artist_engmt_type_2_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_3.value and content.field_artist_engmt_type_3_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Out of School Time Offered', 'index': 3, 'content': content.field_artist_engmt_type_3_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_4.value and content.field_artist_engmt_type_4_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Residencies Offered', 'index': 4, 'content': content.field_artist_engmt_type_4_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_5.value and content.field_artist_engmt_type_5_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Visiting Performances Offered', 'index': 5, 'content': content.field_artist_engmt_type_5_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_6.value and content.field_artist_engmt_type_6_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Workshops Offered', 'index': 6, 'content': content.field_artist_engmt_type_6_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_7.value and content.field_artist_engmt_type_7_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Professional Development Offered', 'index': 7, 'content': content.field_artist_engmt_type_7_text|field_value} %}
							{% endif %}
							{% if node.field_artist_engmt_type_8.value and content.field_artist_engmt_type_8_text|field_value %}
								{% include directory ~ '/templates/helpers/accordion-section.html.twig' with {'title': 'Field Trips Offered', 'index': 8, 'content': content.field_artist_engmt_type_8_text|field_value} %}
							{% endif %}
						{% endset %}

						{% if education_for is not empty or education_info is not empty %}
							<div class="widget-spacing">
								<h2>Arts in Education</h2>
								{% if education_for %}
									{{ education_for }}
								{% endif %}
								{% if education_info %}
									<div>
										<div class="silc-accordion" id="education-info-accordion" data-silc-accordion-animated>
											{{ education_info }}
										</div>
									</div>
								{% endif %}
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
