<div class="translation-modal modal" id="translation-modal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="translation-modal">
            <div class="modal__header">
	            <button class="modal__close" aria-label="Close modal" data-micromodal-close>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#FFF" fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
                </button>
                <h2 class="modal__title" id="translation-modal-title">Translate</h2>
            </div>

            <div class="modal__content" id="translation-modal-content">
				<ul>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=es" class="translateLink">Spanish</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=zh-CN" class="translateLink">Chinese - Simplified</a></li>
					<li class="delimiter"><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=zh-TW" class="translateLink">Chinese - Traditional</a></li>

					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=af" class="mdgov_iaLink translateLink" style="font-size: small;">Afrikaans </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sq" class="mdgov_iaLink translateLink" style="font-size: small;">Albanian - shqiptar</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=am" class="mdgov_iaLink translateLink" style="font-size: small;">Amharic - አማርኛ</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ar" class="mdgov_iaLink translateLink" style="font-size: small;">Arabic -  عربى </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=hy" class="mdgov_iaLink translateLink" style="font-size: small;">Armenian -Հայերէն </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=az" class="mdgov_iaLink translateLink" style="font-size: small;">Azerbaijani - Azərbaycan</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=eu" class="mdgov_iaLink translateLink" style="font-size: small;">Basque - Euskal </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=be" class="mdgov_iaLink translateLink" style="font-size: small;">Belarusian -беларускі</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=bn" class="mdgov_iaLink translateLink" style="font-size: small;">Bengali - বাঙালি</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=bs" class="mdgov_iaLink translateLink" style="font-size: small;">Bosnian -  bBosanski </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=bg" class="mdgov_iaLink translateLink" style="font-size: small;">Bulgarian - български </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ca" class="mdgov_iaLink translateLink" style="font-size: small;">Catalan - Català</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ceb" class="mdgov_iaLink translateLink" style="font-size: small;">Cebuano</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ny" class="mdgov_iaLink translateLink" style="font-size: small;">Chichewa</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=co" class="mdgov_iaLink translateLink" style="font-size: small;">Corsican - Corsu</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=hr" class="mdgov_iaLink translateLink" style="font-size: small;">Croatian - hrvatski</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=cs" class="mdgov_iaLink translateLink" style="font-size: small;">Czech - čeština</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=da" class="mdgov_iaLink translateLink" style="font-size: small;">Danish - dansk</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=nl" class="mdgov_iaLink translateLink" style="font-size: small;">Dutch - Nederlands</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=eo" class="mdgov_iaLink translateLink" style="font-size: small;">Esperanto</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=et" class="mdgov_iaLink translateLink" style="font-size: small;">Estonian - Eesti keel</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=tl" class="mdgov_iaLink translateLink" style="font-size: small;">Filipino</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=fi" class="mdgov_iaLink translateLink" style="font-size: small;">Finnish - Suomalainen</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=fr" class="mdgov_iaLink translateLink" style="font-size: small;">French - français</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=fy" class="mdgov_iaLink translateLink" style="font-size: small;">Frisian - Frysk</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=gl" class="mdgov_iaLink translateLink" style="font-size: small;">Galician - Galego</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ka" class="mdgov_iaLink translateLink" style="font-size: small;">Georgian - ქართული</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=de" class="mdgov_iaLink translateLink" style="font-size: small;">German - Deutsche</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=el" class="mdgov_iaLink translateLink" style="font-size: small;">Greek - Ελληνικά</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=gu" class="mdgov_iaLink translateLink" style="font-size: small;">Gujarati - ગુજરાતી</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ht" class="mdgov_iaLink translateLink" style="font-size: small;">Haitian Creole - Kreyòl Ayisyen</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ha" class="mdgov_iaLink translateLink" style="font-size: small;">Hausa</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=haw" class="mdgov_iaLink translateLink" style="font-size: small;">Hawaiian - ʻŌlelo Hawaiʻi</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=iw" class="mdgov_iaLink translateLink" style="font-size: small;">Hebrew - עִברִית</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=hi" class="mdgov_iaLink translateLink" style="font-size: small;">Hindi - हिंदी</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=hmn" class="mdgov_iaLink translateLink" style="font-size: small;">Hmong - Hmoob</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=hu" class="mdgov_iaLink translateLink" style="font-size: small;">Hungarian - Magyar</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=is" class="mdgov_iaLink translateLink" style="font-size: small;">Icelandic - Íslensku</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ig" class="mdgov_iaLink translateLink" style="font-size: small;">Igbo</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=id" class="mdgov_iaLink translateLink" style="font-size: small;">Indonesian - bahasa Indonesia</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ga" class="mdgov_iaLink translateLink" style="font-size: small;">Irish - Gaeilge</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=it" class="mdgov_iaLink translateLink" style="font-size: small;">Italian - italiano</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ja" class="mdgov_iaLink translateLink" style="font-size: small;">Japanese - 日本語</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=jw" class="mdgov_iaLink translateLink" style="font-size: small;">Javanese - Wong Jawa</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=kn" class="mdgov_iaLink translateLink" style="font-size: small;">Kannada - ಕನ್ನಡ</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=kk" class="mdgov_iaLink translateLink" style="font-size: small;">Kazakh - Қазақша</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=km" class="mdgov_iaLink translateLink" style="font-size: small;">Khmer - ភាសាខ្មែរ</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ko" class="mdgov_iaLink translateLink" style="font-size: small;">Korean - 한국어</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ku" class="mdgov_iaLink translateLink" style="font-size: small;">Kurdish (Kurmanji) - Kurdî</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ky" class="mdgov_iaLink translateLink" style="font-size: small;">Kyrgyz - Кыргызча</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=lo" class="mdgov_iaLink translateLink" style="font-size: small;">Lao - ລາວ</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=la" class="mdgov_iaLink translateLink" style="font-size: small;">Latin - Latine</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=lv" class="mdgov_iaLink translateLink" style="font-size: small;">Latvian - Latviešu</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=lt" class="mdgov_iaLink translateLink" style="font-size: small;">Lithuanian - Lietuviškai</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=lb" class="mdgov_iaLink translateLink" style="font-size: small;">Luxembourgish - lëtzebuergesch</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=mk" class="mdgov_iaLink translateLink" style="font-size: small;">Macedonian - Македонски</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=mg" class="mdgov_iaLink translateLink" style="font-size: small;">Malagasy</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ms" class="mdgov_iaLink translateLink" style="font-size: small;">Malay - Melayu</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ml" class="mdgov_iaLink translateLink" style="font-size: small;">Malayalam - മലയാളം</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=mt" class="mdgov_iaLink translateLink" style="font-size: small;">Maltese - Malti</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=mi" class="mdgov_iaLink translateLink" style="font-size: small;">Maori</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=mr" class="mdgov_iaLink translateLink" style="font-size: small;">Marathi - मराठी</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=mn" class="mdgov_iaLink translateLink" style="font-size: small;">Mongolian - Монгол хэл</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=my" class="mdgov_iaLink translateLink" style="font-size: small;">Myanmar (Burmese) </a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ne" class="mdgov_iaLink translateLink" style="font-size: small;">Nepali - नेपाली</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=no" class="mdgov_iaLink translateLink" style="font-size: small;">Norwegian - norsk</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ps" class="mdgov_iaLink translateLink" style="font-size: small;">Pashto - پښتو</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=fa" class="mdgov_iaLink translateLink" style="font-size: small;">Persian - فارسی</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=pl" class="mdgov_iaLink translateLink" style="font-size: small;">Polish - Polskie</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=pt" class="mdgov_iaLink translateLink" style="font-size: small;">Portuguese - Português</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=pa" class="mdgov_iaLink translateLink" style="font-size: small;">Punjabi - ਪੰਜਾਬੀ</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ro" class="mdgov_iaLink translateLink" style="font-size: small;">Romanian - Română</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ru" class="mdgov_iaLink translateLink" style="font-size: small;">Russian - русский</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sm" class="mdgov_iaLink translateLink" style="font-size: small;">Samoan - Samoa</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=gd" class="mdgov_iaLink translateLink" style="font-size: small;">Scots Gaelic - Gàidhlig na h-Alba</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sr" class="mdgov_iaLink translateLink" style="font-size: small;">Serbian - Српски</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=st" class="mdgov_iaLink translateLink" style="font-size: small;">Sesotho</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sn" class="mdgov_iaLink translateLink" style="font-size: small;">Shona</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sd" class="mdgov_iaLink translateLink" style="font-size: small;">Sindhi - سنڌي</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=si" class="mdgov_iaLink translateLink" style="font-size: small;">Sinhala - සිංහල</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sk" class="mdgov_iaLink translateLink" style="font-size: small;">Slovak - slovenský</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sl" class="mdgov_iaLink translateLink" style="font-size: small;">Slovenian - Slovenščina</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=so" class="mdgov_iaLink translateLink" style="font-size: small;">Somali</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=su" class="mdgov_iaLink translateLink" style="font-size: small;">Sundanese - Sunda</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sw" class="mdgov_iaLink translateLink" style="font-size: small;">Swahili - Kiswahili</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=sv" class="mdgov_iaLink translateLink" style="font-size: small;">Swedish - svenska</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=tg" class="mdgov_iaLink translateLink" style="font-size: small;">Tajik - Тоҷикӣ</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ta" class="mdgov_iaLink translateLink" style="font-size: small;">Tamil - தமிழ்</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=te" class="mdgov_iaLink translateLink" style="font-size: small;">Telugu - తెలుగు</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=th" class="mdgov_iaLink translateLink" style="font-size: small;">Thai - ไทย</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=tr" class="mdgov_iaLink translateLink" style="font-size: small;">Turkish - Türk</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=uk" class="mdgov_iaLink translateLink" style="font-size: small;">Ukrainian - Українська</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=ur" class="mdgov_iaLink translateLink" style="font-size: small;">Urdu - اردو</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=uz" class="mdgov_iaLink translateLink" style="font-size: small;">Uzbek - O"zbek</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=vi" class="mdgov_iaLink translateLink" style="font-size: small;">Vietnamese - Tiếng Việt</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=cy" class="mdgov_iaLink translateLink" style="font-size: small;">Welsh - Cymraeg</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=xh" class="mdgov_iaLink translateLink" style="font-size: small;">Xhosa - isiXhosa</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=yi" class="mdgov_iaLink translateLink" style="font-size: small;">Yiddish - ייִדיש</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=yo" class="mdgov_iaLink translateLink" style="font-size: small;">Yoruba - Yorùbá</a></li>
					<li><a href="https://translate.google.com/translate?hl=en&amp;sl=en&amp;u={{ url('<current>') }}&tl=zu" class="mdgov_iaLink translateLink" style="font-size: small;">Zulu</a></li>
				</ul>
            </div>
        </div>
    </div>
</div>