{% include "@hero" with hero %}
<div class="page-heading outer-pad">
    <div class="silc-grid silc-grid--collapse">
        <div class="silc-grid__col silc-grid__col--12">
            <h1>{{ title }}</h1>
            {% include "@breadcrumb" with breadcrumb %}
        </div>
    </div>
</div>
<div class="page-content outer-pad">
    <div class="silc-grid silc-grid--collapse silc-grid--justify-center">
        <div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--8-1200">
            {# Body field #}
            <div class="text-content">
                <h1>Heading 1</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, fugiat, ratione dignissimos, animi nobis et exercitationem eligendi odit blanditiis deserunt molestias cumque corporis consequuntur quas? Pariatur voluptatibus distinctio ipsum iste?</p>
                <h2>Heading 2</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim beatae dolores, nostrum temporibus quae nulla quo repudiandae tenetur tempora rerum asperiores placeat provident, fugiat voluptate numquam magni. Nulla, placeat magnam?</p>
                <h3>Heading 3</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim beatae dolores, nostrum temporibus quae nulla quo repudiandae tenetur tempora rerum asperiores placeat provident, fugiat voluptate numquam magni. Nulla, placeat magnam?</p>
                <h4>Heading 4</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim beatae dolores, nostrum temporibus quae nulla quo repudiandae tenetur tempora rerum asperiores placeat provident, fugiat voluptate numquam magni. Nulla, placeat magnam?</p>
                <h5>Heading 5</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim beatae dolores, nostrum temporibus quae nulla quo repudiandae tenetur tempora rerum asperiores placeat provident, fugiat voluptate numquam magni. Nulla, placeat magnam?</p>
                <h6>Heading 6</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, nobis nostrum enim dolorem autem et corporis, quidem quasi est eum maiores reiciendis, cumque incidunt qui accusantium consectetur! Dolorum, sed hic.</p>
                <blockquote>
                    <p>Lorem Ipsum Dolor Sit Amet duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sit amet suis aut dolor</p>
                </blockquote>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, beatae aliquam placeat odio cum fugiat aspernatur debitis nulla necessitatibus obcaecati blanditiis mollitia repellat cupiditate vitae aliquid nostrum facere? Tenetur, at?</p>
                <p><a href="">Inline Link ></a></p>
                <p>Lorem ipsum dolor, sit amet consectetur, <a href="sample.pdf">PDF Resource Link</a>  consectetur adipisicing elit. Soluta dolorem numquam nostrum possimus cum commodi.</p>
                <p><a href="" class="button">Button</a> <a href="" class="button">Button Hover</a></p>
                <figure role="group" class="align-right">
                    <img alt="Image description lorem ipsum dolor sit amet" src="{{ "/img/KS_Inline_1.jpg"|path }}">
                    <figcaption>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Duis aute irure dolor in reprehenderit</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio recusandae quasi praesentium, vitae perspiciatis aperiam, alias necessitatibus eaque vero atque eveniet sequi quis accusamus ipsum voluptates sapiente, sint ullam ab!</p>
                <p>Nemo sit dolore harum quo suscipit eum, praesentium nihil aspernatur, voluptatum necessitatibus numquam temporibus ad nostrum autem rerum ipsa laboriosam facere iure. Asperiores corporis minima sit sed consequuntur, explicabo earum!</p>
                <p>Neque, atque. Quibusdam laboriosam sed ipsam, officiis itaque praesentium cum accusamus, dolorum facilis nulla doloribus nesciunt mollitia deserunt iure sint quae dolorem illo ea velit ullam? Maxime illo provident vitae?</p>
                <p>Provident, facilis voluptate iste eaque nisi, repellendus cumque molestiae vero quidem, amet quas expedita ab voluptas. Reiciendis recusandae deleniti, doloremque dolorum adipisci facilis iste praesentium ipsam officiis dolore natus perspiciatis!</p>
                <figure role="group" class="align-left">
                    <img alt="Image description lorem ipsum dolor sit amet" src="{{ "/img/KS_Inline_1.jpg"|path }}">
                    <figcaption>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Duis aute irure dolor in reprehenderit</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam aliquid dicta consequatur quos necessitatibus at praesentium inventore ipsam, sapiente, consectetur voluptatem voluptates possimus facere voluptas repellendus sint delectus laudantium iure?</p>
                <p>Molestias similique fugit corporis, quasi esse ullam quia nostrum, fugiat voluptatibus aperiam debitis aspernatur laborum cum iste fuga autem. Quasi rerum, atque amet facilis necessitatibus iusto quas placeat unde hic.</p>
                <p>Qui, optio. Totam incidunt tempora deleniti beatae saepe explicabo vel amet eos voluptatibus repudiandae! Unde architecto commodi eaque, veritatis debitis consequuntur deleniti velit et itaque dolore, similique officia officiis corporis?</p>
                <p>Dolore nemo est perspiciatis atque illum laborum ex doloremque impedit saepe quidem, at totam voluptate reiciendis, aliquam ut delectus eos architecto deserunt? Porro doloremque asperiores numquam deserunt itaque quibusdam reprehenderit.</p>
                <figure role="group" class="align-center">
                    <img alt="Image description lorem ipsum dolor sit amet" src="{{ "/img/KS_Inline_1.jpg"|path }}">
                    <figcaption>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Duis aute irure dolor in reprehenderit</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic commodi nemo numquam sequi aperiam unde vel earum iusto ab, voluptatem laborum iste! Iusto, voluptates illo ullam dignissimos obcaecati minus. At?</p>
                <p>Veritatis ipsa enim recusandae aliquid vel fuga eaque vitae hic voluptatum ad possimus ex, magni ratione pariatur ipsam reiciendis asperiores at exercitationem, illum culpa quas officia iusto. Ut, dicta sint.</p>
                <p>Dolor odit cumque nesciunt dolore quisquam suscipit dignissimos enim perspiciatis accusantium velit ad numquam fugiat ducimus accusamus quia autem asperiores vitae iste, alias mollitia adipisci commodi laudantium. Optio, eligendi nam!</p>
                <img alt="Right aligned" src="{{ "/img/KS_Inline_1.jpg"|path }}" class="align-right">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nobis velit laboriosam laborum autem nostrum, et minima culpa quae asperiores magni fugiat maiores in alias veniam illum, corrupti dolorum at!</p>
                <p>Officia beatae at ullam. Enim nisi commodi vitae quisquam magni numquam assumenda magnam eius quis, praesentium esse, labore deserunt perspiciatis necessitatibus alias porro libero sunt veniam, nulla doloribus a! Deserunt!</p>
                <p>Consequatur, officia facilis provident, nihil optio veritatis veniam ea laudantium aliquam itaque eveniet ratione quod asperiores rem pariatur labore tempore animi. Omnis, repellat obcaecati saepe fugiat dolorem ab repudiandae voluptate.</p>
                <p>Suscipit veniam inventore perferendis vero, doloremque eaque molestias aut exercitationem temporibus nobis error quod cumque assumenda quasi maxime vitae cum porro esse itaque asperiores libero! Repellendus harum ducimus cupiditate vitae?</p>
                <img alt="Left aligned" src="{{ "/img/KS_Inline_1.jpg"|path }}" class="align-left">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias exercitationem fugit rem omnis inventore architecto consequuntur similique facere dignissimos laborum at praesentium, quo doloremque iste explicabo commodi facilis id repudiandae.</p>
                <p>Alias sit quas officiis eligendi odit dolore maiores, est dicta provident reprehenderit deleniti in quam iste nesciunt debitis nam minima asperiores, aliquid assumenda impedit, suscipit nostrum placeat molestiae. Repellendus, nam.</p>
                <p>Ex assumenda, cupiditate veniam perferendis similique quo quae voluptatibus rem voluptatem deleniti laborum. Et provident earum sequi perferendis est vero nulla deleniti fuga? Consequatur explicabo perferendis eaque quibusdam animi cum!</p>
                <p>Ipsa in distinctio fugiat sapiente recusandae tempora facilis? Porro quos iste laborum voluptatum. Fugiat ipsam praesentium, quam ducimus hic dicta. Quam tempora fugiat officia corporis eius quidem error reiciendis dolor?</p>
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati a ea hic fuga atque nisi reiciendis, fugit illo? Aliquam impedit veritatis aspernatur placeat quasi quod qui voluptatum quia illo illum.</li>
                    <li>Quos laboriosam, quasi rerum sequi voluptatibus laborum necessitatibus amet commodi nisi omnis molestias? Placeat maiores dolor perferendis porro illo. Voluptates architecto laboriosam consequuntur nam delectus. Animi, rerum id. Numquam, consectetur.
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis id molestias odit, voluptate nulla ipsam error expedita, nam iusto doloremque perspiciatis sit et vel aut. Nisi quia praesentium vero?</li>
                            <li>Laboriosam expedita tempora aspernatur maiores aliquam ipsam eius eos animi reiciendis neque. Harum cupiditate sunt quisquam adipisci dolorem, rem sit! Velit nihil, officiis tempore temporibus nam omnis odio illum doloribus.</li>
                            <li>Aliquam, dolorem. At doloremque repudiandae odit dignissimos ducimus totam, asperiores magnam iure neque voluptates, commodi quasi deleniti. Repudiandae provident ullam dolorum et voluptate. Soluta nesciunt autem blanditiis accusantium. Blanditiis, eaque.</li>
                        </ul>
                    </li>
                </ul>
                <ol>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates iure, ipsa sit minus voluptate repudiandae culpa non incidunt numquam dolore, animi libero soluta! Sunt exercitationem eum voluptatibus omnis assumenda? Atque.</li>
                    <li>Quibusdam numquam, quis, dolore atque itaque ea sed explicabo aperiam, eum hic earum? Nam unde iste distinctio, magni voluptatibus ea voluptates molestiae delectus dolorum facilis impedit soluta magnam quos sed.
                        <ol>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dignissimos, iusto delectus minima molestiae incidunt tempore quod odio repellat voluptates eaque sint. Facere, laudantium. Ea fugit quia explicabo quam aspernatur.</li>
                            <li>Ut velit tempore, nihil, fuga dolores eum eaque ea minima natus ab debitis alias assumenda architecto provident deserunt veniam molestias soluta deleniti voluptates distinctio non tempora. Omnis optio doloribus corrupti!</li>
                            <li>Sint quia ad distinctio. Laudantium non veritatis dicta sed ut nemo doloremque aperiam aliquid, saepe ex quis unde molestiae vero eveniet. Fugit fugiat optio incidunt vel. Culpa minus facere voluptatem.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <div class="silc-grid__col silc-grid__col--12">
            {# KS Widgets #}
            <div class="page-widgets">
                <div class="paragraph-widget paragraph-widget--ip_blockquote">
                    {% include "@blockquote" with blockquote %}
                </div>
                <div class="paragraph-widget paragraph-widget--ip_accordion">
                    {% include "@accordion" with accordion %}
                </div>
                <div class="paragraph-widget paragraph-widget--ip_carousel">
                    {% include "@carousel" with carousel %}
                </div>
                <div class="paragraph-widget paragraph-widget--ip_cards_group">
                    {% include "@card-group" with cardGroup %}
                </div>
                <div class="paragraph-widget paragraph-widget--ip_video">
                    {% include "@iframe" with iframe %}
                </div>
                <div class="paragraph-widget paragraph-widget--ip_webform_embed">
                    {% include "@webform" %}
                </div>
            </div>
        </div>
    </div>
</div>

{# FOR DEV ONLY #}
<script>
	document.body.classList.add("has-hero");
</script>
